<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
<div layout:fragment="mainContent">
    <link rel="stylesheet" type="text/css" th:href="@{'/css/cartStyle.css'}" >

    <div class="container pb-5 mt-n2 mt-md-n3">
        <div class="row">
            <div class="col-xl-9 col-md-8">
                <h2 class="h6 d-flex flex-wrap justify-content-between align-items-center px-4 py-3 bg-secondary">
                    <span>Корзина</span>
                </h2>
                <!-- Item-->
                <div class="d-sm-flex justify-content-between my-4 pb-4 border-bottom" th:each="cR:${items}">
                    <div class="media d-block d-sm-flex text-center text-sm-left">
                        <a class="cart-item-thumb mx-auto mr-sm-4" href="#"><img th:src="${cR.c_image}" alt="Product"></a>
                        <div class="media-body pt-3" >
                            <h3 class="product-card-title font-weight-semibold border-0 pb-0" th:text="${cR.c_name}"></h3>
                            <h4 class="text-center" th:text="${cR.c_price}+' KZT'"></h4>
                        </div>
                    </div>

                    <form action="/deleteCart" method="post" th:if="${cR!=null}">
                        <input type="hidden" name="course_id" th:value="${cR.c_id}">
                        <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 10rem;">
                            <button type="submit" class="btn btn-danger">REMOVE</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Sidebar-->
            <div class="col-xl-3 col-md-4 pt-3 pt-md-0">
                <h2 class="h6 px-4 py-3 bg-secondary text-center" ></h2>
                <div class="h3 font-weight-semibold text-center py-3" th:text="${prices}+ ' KZT' "></div>
                <hr>

                <a class="btn btn-primary btn-block" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card mr-2">
                        <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                        <line x1="1" y1="10" x2="23" y2="10"></line>
                    </svg>Proceed to Checkout</a>
            </div>
        </div>
    </div>

</div>

</html>