<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
<div layout:fragment="mainContent">
    <body data-home-page="Home.html" data-home-page-title="Home" class="u-body u-xl-mode">
    <section class="u-align-center u-clearfix u-image u-shading u-section-1" id="carousel_fcc2" data-image-width="1618" data-image-height="1080">
        <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
            <div class="u-shape u-shape-svg u-text-palette-1-base u-shape-1">
                <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 140" style="">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8ecf"></use>
                </svg>
                <svg class="u-svg-content" viewBox="0 0 160 140" x="0px" y="0px" id="svg-8ecf">
                    <path d="M80,60.5l28.3,49.5H51.7L80,60.5 M80,0L0,140h160L80,0L80,0z"></path>
                </svg>
            </div>
            <h2 class="u-custom-font u-font-montserrat u-text u-text-default u-text-1">IT courses</h2>
            <p class="u-heading-font u-text u-text-2">Мы не просто школа программирования, мы академия которая выпустила и трудоустроила более 1000 крутых программистов!</p>
        </div>
    </section>
    <section class="u-align-left u-clearfix u-grey-5 u-section-2" id="carousel_7f03">
        <div class="u-clearfix u-sheet u-valign-middle-xl u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                            <div class="u-container-layout u-valign-top u-container-layout-1">
                                <h2 class="u-custom-font u-font-montserrat u-text u-text-1"> Для кого наши курсы</h2>

                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                            <div class="u-container-layout u-valign-top u-container-layout-2">
                                <h3>Новичок</h3>
                                <h5 class="u-text u-text-3">

                                    Хочешь стать программистом и быть в тренде<br>
                                    Зарабатывать от 150 000 до 500 000 тенге в месяц<br>
                                    Научиться самым востребованным языкам программирования<br>
                                    Быть актуальным специалистом, который необходим рынку<br>

                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-3" id="carousel_7095">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-size-30">
                        <div class="u-layout-row">
                            <div class="u-align-left u-container-style u-layout-cell u-palette-5-dark-3 u-size-60 u-layout-cell-1">
                                <div class="u-container-layout u-valign-middle u-container-layout-1">
                                    <div class="u-shape u-shape-svg u-text-palette-1-base u-shape-1">
                                        <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 140" style="">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-e11a"></use>
                                        </svg>
                                        <svg class="u-svg-content" viewBox="0 0 160 140" x="0px" y="0px" id="svg-e11a">
                                            <path d="M80,60.5l28.3,49.5H51.7L80,60.5 M80,0L0,140h160L80,0L80,0z"></path>
                                        </svg>
                                    </div>
                                    <h2 class="u-custom-font u-font-montserrat u-text u-text-1">Почему выгодно обучаться у нас</h2>
                                    <p class="u-heading-font u-text u-text-2">Онлайн платформа для каждого студента<br>
                                        Вы не пропустите ничего! Весь материал и видеоуроки будут у вас в доступе! Даже после окончания курсов доступ у вас остается навсегда</p>
                                    <p class="u-heading-font u-text u-text-2">Гарантия качества<br>
                                        Мы гарантируем качественное обучение! Вернем деньги в течение первых 3-х занятий, если курс вам не подходит!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-30">
                        <div class="u-layout-col">
                            <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1280" data-image-height="963">
                                <div class="u-container-layout u-container-layout-2"></div>
                            </div>
                            <div class="u-align-center u-container-style u-grey-5 u-layout-cell u-size-30 u-layout-cell-3">
                                <div class="u-container-layout u-container-layout-3">
                                    <h4 class="u-custom-font u-font-montserrat u-text u-text-default u-text-3"> Мы те, кто умеет обучать и мотивировать</h4>
                                    <p class="u-heading-font u-text u-text-4">
                                        Мы действующие программисты и профессора, которые умеют преподавать, давать мотивацию и подносить информацию</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="u-align-left u-clearfix u-image u-shading u-section-5" style="background-image: url('https://emerging-europe.com/wp-content/uploads/2018/11/bigstock-abstract-technology-background-250119211.jpg');" data-image-width="2000" data-image-height="1333" id="sec-d39c">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-expanded-width u-products u-products-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-products-item u-repeater-item u-white u-repeater-item-1" th:each="cL:${courseList}">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1"  style="background-color: rgba(169,169,169,0.35)">
                            <h4 class="u-align-center u-product-control u-text u-text-1">
                                <a class="u-product-title-link" href="#" th:text="${cL.name}">
                                </a>
                            </h4>
                            <div alt="" class="u-expanded-width-lg u-image u-image-circle u-product-control u-image-1" th:style="'background-image:url(' + ${cL.logo} + ');'">
                            </div>
                            <div class="u-product-control u-product-price u-product-price-1">
                                <div class="u-price-wrapper u-spacing-10">
                                    <div class="u-price u-text-palette-2-base" style="font-size: 1.25rem; font-weight: 700;" th:text="${cL.price}+' KZT'">
                                    </div>
                                </div>
                            </div>
                            <div class="u-product-control u-product-desc u-text u-text-2"  style="height: 50px" th:text="${cL.description}">
                            </div>
                            <div class="u-product-control u-product-desc u-text u-text-2" >
                                <a   th:href="@{'/details/'+ ${cL.getId()}}" class="btn" style="background-color: rgba(26,26,26,0.93);color: white">
                                    Толығырақ
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    </body>
</div>
</html>